span {
  &.label {
    color: white;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &.sublabel {
    opacity: 0.5;
    color: white;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

%input-fontStyle {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
