.Input {
  position: relative;

  &__sublabel {
    position: absolute;
    bottom: 3px;
    left: 7px;
  }

  &Text {
    &__test {
      color: green;
    }

    &__small {
      width: 65px;
    }

    &__center {
      text-align: center;
    }

    &__options-left {
      padding-left: 60px;
    }

    &__medium {
      width: 170px;
      min-width: 170px;
    }
  }
}
