.field {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }

  &__labelHolder {
    margin-left: 8px;
    margin-bottom: 4px;
  }

  &__childrenHolder {
    display: flex;
  }
}
