.IterationRow {
  display: grid;
  grid-template-columns: repeat(8, minmax(200px, 1fr));

  &:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &__col {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--error {
    display: flex;
    border: 1px solid red;
    padding: 15px;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--header {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &Error {
    border: 1px solid red;
  }
}
