.IterationRow {
  display: grid;
  background-color: pink;
  grid-template-columns: repeat(7, 1fr);

  &__col {
    display: flex;
    padding: 15px;
    background: rgba(255, 255, 13, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--error {
    display: flex;
    border: 1px solid red;
    padding: 15px;
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--header {
    border: 1px solid red;
    background-color: green;
  }
}
